/* Regole generali */
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}
/* Fine regole generali */

/* Stile delle card */
.product {
    display: inline-block;
    position: relative;
    width: 30%;
    margin: 10px;
    z-index: 0;
}

.product .img-standard, .product .img-alt {
    width: 100%;
}

.heart {
    position: absolute;
    top: 20px;
    right: 0;
    border: 1px solid white;
    background-color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px 15px;
    z-index: 2;
}

.tags {
    position: absolute;
    left: 0;
    bottom: 100px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 3px;
    z-index: 2;
}

.discount {
    background-color: rgb(240, 22, 51);
    padding: 5px;
    font-size: 15px; 
}

.sustain {
    background-color: #028759;
    padding: 5px;
    font-size: 15px; 
}
/* Fine stile delle card */

/* Stile delle immagini nascoste */
.product .img-alt {
    display: none;
}

.product:hover .img-alt {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
/* Fine stile delle immagini nascoste */

/* Stile delle descrizioni */
.description {
    padding: 5px;
}

.brand {
    font-size: 15px;
}

.model {
    font-weight: bold;
}

.offer {
    font-weight: bold;
    color: rgb(236, 43, 43);
}

.full {
    text-decoration: line-through;
}
/* Fine stile delle descrizioni */